.container-full{width:100%;margin:0 auto}
.container{width:100%;max-width:1200px;margin:0 auto}
.Responsive-container{width:100%;margin:0 auto}
.Responsive-container,.Responsive-container *,.container,.container *,.container-full,.container-full *{box-sizing:border-box}
.outline,.outline-inner [class*=col-]{border:1px solid #F6A1A1}
.row{display:block;width:100%;margin:0 auto;height:auto}
.row:after,.row:before{content:'';display:table;clear:both}
[class*=col-]{float:left;min-height:1px;width:16.66%;padding:5px}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6{float:left;min-height:1px;padding:5px}
.col-1{width:16.66%}
.col-2{width:33.33%}
.col-3{width:50%}
.col-4{width:66.66%}
.col-5{width:83.33%}
.col-6{width:100%}
.offset-1{margin-left:16.66%}
.offset-2{margin-left:33.33%}
.offset-3{margin-left:50%}
.offset-4{margin-left:66.66%}
.offset-5{margin-left:83.33%}
@media all and (max-width:800px){.Responsive-container .col-1{width:33.33%}
.Responsive-container .col-2{width:50%}
.Responsive-container .col-3{width:66.63%}
.Responsive-container .col-4{width:100%}
.Responsive-container .col-5{width:100%}
.Responsive-container .col-6{width:100%}
.Responsive-container .row .col-2:last-of-type{width:100%}
.Responsive-container .row .col-2:first-of-type{width:50%}
.Responsive-container .row .col-5~.col-1{width:100%}
.Responsive-container .col-4.offset-1,.Responsive-container .col-4.offset-2,.Responsive-container .col-5.offset-1{margin-left:0}
}
@media all and (max-width:650px){.Responsive-container .col-1{width:50%}
.Responsive-container .col-2{width:100%}
.Responsive-container .col-3{width:100%}
.Responsive-container .col-4{width:100%}
.Responsive-container .col-5{width:100%}
.Responsive-container .col-6{width:100%}
}
.pull-right{float:right}
@media all and (min-width:801px){.lg-hidden{display:none}
}
@media all and (max-width:800px){.m-hidden{display:none}
}
@media all and (max-width:650px){.s-hidden{display:none}
}
